@font-face {
    font-family: 'OpenSans-Bold';
    src: url('OpenSans-Bold/OpenSans-Bold-webfont.eot');
    src: url('OpenSans-Bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('OpenSans-Bold/OpenSans-Bold-webfont.woff') format('woff'), url('OpenSans-Bold/OpenSans-Bold-webfont.ttf') format('truetype'), url('OpenSans-Bold/OpenSans-Bold-webfont.svg#OpenSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-ExstraBold';
    src: url('OpenSans-ExtraBold/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('OpenSans-Light/OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('OpenSans-Light/OpenSans-Light-webfont.woff') format('woff'), url('OpenSans-Light/OpenSans-Light-webfont.ttf') format('truetype'), url('OpenSans-Light/OpenSans-Light-webfont.svg#OpenSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('OpenSans-Semibold/OpenSans-Semibold-webfont.eot');
    src: url('OpenSans-Semibold/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('OpenSans-Semibold/OpenSans-Semibold-webfont.woff') format('woff'), url('OpenSans-Semibold/OpenSans-Semibold-webfont.ttf') format('truetype'), url('OpenSans-Semibold/OpenSans-Semibold-webfont.svg#OpenSans-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('RobotoBold/Roboto-Bold-webfont.eot');
    src: url('RobotoBold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoBold/Roboto-Bold-webfont.woff') format('woff'),
         url('RobotoBold/Roboto-Bold-webfont.ttf') format('truetype'),
         url('RobotoBold/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoblack';
    src: url('RobotoBlack/Roboto-Black.eot');
    src: url('RobotoBlack/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'), url('RobotoBlack/Roboto-Black-webfont.woff') format('woff'), url('RobotoBlack/Roboto-Black-webfont.ttf') format('truetype'), url('RobotoBlack/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('RobotoLight/Roboto-Light-webfont.eot');
    src: url('RobotoLight/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('RobotoLight/Roboto-Light-webfont.woff') format('woff'), url('RobotoLight/Roboto-Light-webfont.ttf') format('truetype'), url('RobotoLight/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('RobotoRegular/Roboto-Regular-webfont.eot');
    src: url('RobotoRegular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoRegular/Roboto-Regular-webfont.woff') format('woff'),
         url('RobotoRegular/Roboto-Regular-webfont.ttf') format('truetype'),
         url('RobotoRegular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
