@font-face {
    font-family: 'OpenSans-Bold';
    src: url('OpenSans-Bold/OpenSans-Bold-webfont.eot');
    src: url('OpenSans-Bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Bold/OpenSans-Bold-webfont.woff') format('woff'),
         url('OpenSans-Bold/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('OpenSans-Bold/OpenSans-Bold-webfont.svg#OpenSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-ExstraBold';
    src: url('OpenSans-ExtraBold/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('OpenSans-Light/OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light/OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light/OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans-Light/OpenSans-Light-webfont.svg#OpenSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('OpenSans-Semibold/OpenSans-Semibold-webfont.eot');
    src: url('OpenSans-Semibold/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Semibold/OpenSans-Semibold-webfont.woff') format('woff'),
         url('OpenSans-Semibold/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('OpenSans-Semibold/OpenSans-Semibold-webfont.svg#OpenSans-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "RobotoBold";
    src: url("RobotoBold/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
